<div class="container" ng-controller="RegisterCtrl as ctrl">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-user-plus"></span> Sign Up</h1>
        <br>
        <flash-message
                duration="5000"
                show-close="true"
                on-dismiss="myCallback(flash);"
        ></flash-message>

        <!-- LOGIN FORM -->
        <form name="registerForm" ng-submit="ctrl.register()" novalidate autocomplete="off">
            <div class="form-group">
                <label>Employee ID</label>
                <input type="text" class="form-control" ng-model="ctrl.user.employee_id"
                       name="employeeId" placeholder="Employee id" required>
                <div class="help-block"
                     ng-show="registerForm.employeeId.$error.required && registerForm.employeeId.$touched">
                    <p class="text-warning">Employee ID is mandatory</p>
                </div>
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" ng-model="ctrl.user.first_name"
                       name="firstName" placeholder="First Name" required>
                <div class="help-block"
                     ng-show="registerForm.firstName.$error.required && registerForm.firstName.$touched">
                    <p class="text-warning">First name is mandatory</p>
                </div>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" ng-model="ctrl.user.last_name"
                       name="lastName" placeholder="Last Name" required>
                <div class="help-block"
                     ng-show="registerForm.lastName.$error.required && registerForm.lastName.$touched">
                    <p class="text-warning">Last name is mandatory</p>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="ctrl.user.email"
                       name="emailAddress" placeholder="Email address" required>
                <div class="help-block"
                     ng-show="registerForm.emailAddress.$error.required && registerForm.emailAddress.$touched">
                    <p class="text-warning">Email Address is mandatory</p>
                </div>
                <div data-ng-show="registerForm.emailAddress.$error.email && registerForm.emailAddress.$touched">
                    <p class="text-warning">Email is invalid.</p>
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="ctrl.user.password"
                       name="password" placeholder="Password" required>
                <div ng-show="registerForm.password.$invalid && registerForm.password.$touched">
                    <p class="text-warning">Password is mandatory.</p>
                </div>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" ng-model="ctrl.user.confirm_password"
                       name="confirmpassword" placeholder="Confirm Password" compare-to="ctrl.user.password" required>
                    <div data-ng-show="ctrl.user.password != ctrl.user.confirm_password && registerForm.password.$touched">
                        <p class="text-warning">Passwords do not match</p>
                    </div>
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" ng-model="ctrl.user.phone"
                       name="phone" placeholder="Phone number" required
                       minlength="8"
                       ng-pattern="/^[0-9+()-]*$/">
                <div class="help-block"
                     ng-show="registerForm.phone.$invalid && registerForm.phone.$touched">
                    <p class="text-warning">Phone input is invalid</p>
                </div>
            </div>
            <div class="form-group">
                <label>Access Group</label>
                <select ng-model="ctrl.user.access_group">
                    <option ng-repeat="y in ctrl.access_options" value="{{y}}">{{y}}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-default btn-lg">Register</button>
        </form>
        <p>Already have an account? <a ui-sref="login">Login</a></p>
        <p>Or already login, go <a ui-sref="home">home</a>.</p>

    </div>

</div>