<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="col-sm-12 col-sm-offset-2">
    <form name = "regForm" ng-controller="RegCtrl as regCtrl">
        <div>
            <h3>Registration Form</h3>
            <table>
                <tr>
            <!-- First Name -->
            <div class="form-group">
                <td>
                <div><label>First Name:</label></div>
                </td>
                <td>
                <div>
                    <input type="text" name="firstname" ng-model="regCtrl.form.firstname"
                           placeholder={{regCtrl.form.firstname}} required>
                </div>
                </td>
                <!--<div data-ng-show="regForm.name.$invalid" >-->
                    <!--<h5 class="text-warning">Name must be at least 3 characters.</h5>-->
                <!--</div>-->
            </div>
                </tr>
            <!-- Last Name -->
            <div class="form-group">
                <div><label>Last Name:</label></div>
                <div>
                    <input type="text" name="lastname" ng-model="regCtrl.form.lastname"
                           placeholder={{regCtrl.form.lastname}} required>
                </div>
                <!--<div data-ng-show="regForm.name.$invalid" >-->
                <!--<h5 class="text-warning">Name must be at least 3 characters.</h5>-->
                <!--</div>-->
            </div>
            <!-- Employee ID -->
            <div class="form-group">
                <div><label>Employ ID:</label></div>
                <div>
                    <input type="text" name="address" ng-model="regCtrl.form.employeeid"
                           placeholder={{regCtrl.form.employeeid}}>
                </div>
            </div>
            <!-- Email -->
            <div class="form-group">
                <label>Email:</label>
                <div>
                    <input type="email" name="email" ng-model="regCtrl.form.email" placeholder={{regCtrl.form.email}} required>
                </div>
                <div data-ng-show="regForm.email.$invalid" >
                    <h5 class="text-warning">Invalid email format</h5>
                </div>
            </div>
            <!-- Password -->
            <div class="form-group">
                <div><label>Password:</label></div>
                <div>
                    <input type="password" name="pwd" ng-model="regCtrl.form.password" ng-minlength="8"
                           placeholder={{regCtrl.form.password}} required>
                </div>
                <div data-ng-show="regForm.pwd.$invalid" >
                    <h5 class="text-warning">Password is required at least 8 characters.</h5>
                </div>
            </div>
            <!-- Contact Number -->
            <div class="form-group">
                <div>
                    <label>Contact Number:</label>
                </div>
                <div>
                    <input type="text" name="contact" ng-model="regCtrl.form.contact" placeholder={{regCtrl.form.contact}}
                           ng-pattern="/([0-9\s\-]{7,})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/">
                </div>
                <div data-ng-show="regForm.contact.$invalid">
                    <h5 class="text-warning">Less than 7 digits or invalid</h5>
                </div>
            </div>
            <!-- User Type -->
            <div class="form-group">
                <div><label>User Type:</label></div>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="usertype" value="User" ng-model="regCtrl.form.usertype">User
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="usertype" value="Administrator" ng-model="regCtrl.form.usertype">Administrator
                    </label>
                </div>
            </div>
            </table>
            <!-- Bubmit -->
            <div class="form-group">
                <button type="button" class="btn-success"
                        ng-disabled="regForm.contact.$invalid || regForm.email.$invalid || regForm.name.$invalid"
                        ng-click="regCtrl.submit()">Submit</button>
                <button type="button" class="btn-success" ng-click="regCtrl.resetEntry()">Reset</button>
            </div>
        </div>
        <h3>{{regCtrl.data}}</h3>
        <h3>{{regCtrl.status}}</h3>
        <h3>{{regCtrl.statusText}}</h3>
    </form>
</div>

</body>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="app/js/registration.js"></script>
</html>