.searched-list td:hover {
    text-align: center;
    background-color: darkgreen;
    color:white;
    font-size: 250%;
}

.searched-list .td-danger {
    text-align: center;
    background-color: red;
}

.searched-list .td-warning {
    text-align: center;
    background-color: #cccc00;
}

.searched-list .td-success {
    text-align: center;
    background-color: lightgreen;
}

.triggered-list td:hover {
    text-align: center;
    background-color:darkgreen;
    color:white;
    font-size: 250%;
}

.triggered-list .td-danger {
    text-align: center;
    background-color: red;
}

.part-edit-table .part-label{
    text-align: right;
}

.cells-manager-list {
    width: 1200px;
}

.cells-manager-list td{
    width: 100px;
}

.cells-manager-list td input{
    width: 90px;
    border-width: 1px;
}
