<div  ng-controller="DashboardCtrl as ctrl">
<div ng-init="ctrl.init()" class ="col-sm-12" data-ng-show="ctrl.isUserLogon">
            <form name = "searchForm" novalidate class="form-inline" ng-submit="searchForm.$valid && ctrl.submit()">
                <div class="form-group">
            <table>
                <tr>
                    <td>
                        <select ng-model="ctrl.searchGroup" class="form-control">
                            <option ng-repeat="x in ctrl.searchGroupList" value="{{x.id}}">{{x.name}}</option></select>
                        <input id="searchKey" class="form-control" type="text" name="searchKey" ng-model = "ctrl.searchKey"
                               placeholder="Key word">
                        <button type="submit" class="btn btn-info form-control">
                            Search
                        </button>
                        <button class="btn btn-info form-control" ng-click="ctrl.addCell()" data-ng-hide="1">
                            Add Cell
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="validation" ng-show = "ctrl.inputInvalid">
            <span class="glyphicon glyphicon-alert"></span>
            {{ctrl.status.message}}
        </div>
    </form>
    <div>
        <h2 data-ng-show="ctrl.triggered_data_2d.length > 0">Triggered Cells</h2>
        <table class="table triggered-list">
            <tr ng-repeat="r in ctrl.triggered_data_2d">
                <td ng-repeat="c in r" class="td-danger">
                    <h6 align="center" ng-click="ctrl.showCell(c.id)">{{c.node_address}}-{{c.cell_address}}</h6>
                    <h6 align="center">{{c.weight}}%</h6>
                </td>
            </tr>
        </table>
        <h2 data-ng-show="ctrl.data_2d.length > 0">Searched Cells</h2>
        <table class="table searched-list">
            <tr ng-repeat="row in ctrl.data_2d" >
                <td ng-repeat="col in row" ng-class="{'td-success' : col.weight >= 50, 'td-warning' : col.weight < 50 && col.weight > 10 , 'td-danger' : col.weight <= 10 }">
                    <div data-ng-show="col.weight >= 50">
                        <h6 align="center" ng-click="ctrl.showCell(col.id)">{{col.node_address}}-{{col.cell_address}}</h6>
                        <h6 align="center">{{col.weight}}%</h6>
                    </div>
                    <div data-ng-show="col.weight < 50 && col.weight > 10">
                        <h6 align="center" ng-click="ctrl.showCell(col.id)">{{col.node_address}}-{{col.cell_address}}</h6>
                        <h6 align="center">{{col.weight}}%</h6>
                    </div>
                    <div data-ng-show="col.weight <= 10">
                        <h6 align="center" ng-click="ctrl.showCell(col.id)">{{col.node_address}}-{{col.cell_address}}</h6>
                        <h6 align="center">{{col.weight}}%</h6>
                    </div>
                </td>
           </tr>
        </table>

    </div>
</div>
</div>