<div class ="col-sm-12" ng-controller="SettingCtrl as ctrl" data-ng-show="ctrl.isUserLogon">
    <form name = "optionForm" novalidate class="form-inline" ng-submit="optionForm.$valid">
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <select ng-model="ctrl.settingOption">
                            <option ng-repeat="x in ctrl.settingList" value="{{x.id}}">{{x.name}}</option>
                        </select>
                        <button class="btn btn-info" data-ng-show="ctrl.settingOption == ctrl.settingList[2].id">
                            Load Default
                        </button>
                        <button class="btn btn-info" data-ng-show="ctrl.settingOption == ctrl.settingList[1].id" data-toggle="modal" data-target="#confirmModal">
                            Confirm Delete
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="confirmModal" role="dialog">
                            <div class="modal-dialog modal-sm">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title text-warning">Confirm Deletion</h4>
                                    </div>
                                    <div class="modal-body text-warning">
                                        <p>Do you want to part number {{ctrl.cellData.partNo}} from Inventory?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.deleteInventory()">Yes</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="validation" ng-show = "ctrl.inputInvalid">
            <span class="glyphicon glyphicon-alert"></span>
            {{ctrl.status.message}}
        </div>
    </form>
    <h1>Under Construction</h1>
</div>