<div ng-controller="CellsManagerCtrl as ctrl" ng-init="ctrl.cm_addCellInit()">
    <form name = "addCellForm" novalidate data-ng-show="ctrl.isUserLogon">
        <div class="form-group col-sm-offset-1">
            <label for="nodeaddr">Node Address</label>
            <input id="nodeaddr" type="text" ng-model="ctrl.cell.node_address">
        </div>
        <div class="form-group col-sm-offset-1">
            <label for="celladdr">Cell Address</label>
            <input id="celladdr" type="text" ng-model="ctrl.cell.cell_address">
        </div>
        <div class="form-group col-sm-offset-1">
            <label for="partid">Part ID</label>
            <input id="partid" type="text" ng-model="ctrl.cell.part_id">
        </div>
        <div class="form-group col-sm-offset-1">
            <label for="fullweight">Full Weight(Kg)</label>
            <input id="fullweight" type="text" ng-model="ctrl.cell.full_weight">
        </div>
        <div class="form-group col-sm-offset-1">
            <label for="minweight">Min Weight(Kg)</label>
            <input id="minweight" type="text" ng-model="ctrl.cell.min_weight">
        </div>
        <div class="form-group col-sm-offset-1">
            <label for="alarmweight">Alarm Weight(Kg)</label>
            <input id="alarmweight" type="text" ng-model="ctrl.cell.alarm_weight">
        </div>
        <div class="form-group col-sm-2 col-sm-offset-1">
            <button type="button" class="btn btn-info form-control" ng-click="ctrl.cm_addCell()">Add</button>
            <button type="button" class="btn btn-info form-control" ng-click="ctrl.cm_cancelAddCell()">Cancel</button>
        </div>
    </form>
</div>