<div class ="col-sm-12" ng-controller="CellCtrl as ctrl" data-ng-show="ctrl.isUserLogon">
    <div ng-init="ctrl.init()">
    <form name = "eidtForm" novalidate class="form-inline" ng-submit="ctrl.submit()">
        <div class="form-group">
            <label for="dateStart">Date of Start:</label>
            <input id="dateStart"
                   class="form-control"
                   name="dateStart"
                   type="date"
                   required
                   ng-model="ctrl.dateStart"/>
            <label for="dateEnd">Date of End:</label>
            <input id="dateEnd"
                   class="form-control"
                   name="dateEnd"
                   type="date"
                   required
                   ng-model="ctrl.dateEnd"/>
            <label for="cellId">Cell ID</label>
            <input id="cellId" class="text" ng-model="ctrl.cell_id" placeholder="{{ctrl.cell_id}}">
            <button type="submit" class="btn btn-info form-control">
                View
            </button>
            <div class="validation" data-ng-show="editForm.dateStart.$touched || editForm.$submitted">
                <div data-ng-show="editForm.dateStart.$error.required || editForm.dateEnd.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Date of Start and End is required.
                </div>
                <div data-ng-show="editForm.dateStart.$invalid || editForm.dateEnd.$invalid">
                    <span class="glyphicon glyphicon-alert"></span>
                    Invalid Date.
                </div>
             </div>
        </div>
        <div class="validation" ng-show = "ctrl.inputInvalid">
            <span class="glyphicon glyphicon-alert"></span>
            {{ctrl.status.message}}
        </div>
    </form>
        <table>
            <tr>
                <td>
                   <td><i class="fa fa-chevron-left" style="font-size:24px;color:green" ng-click="ctrl.showPreviousChart()" data-ng-show="ctrl.cell_id > 1"></i></td>
                </td>
                <td>
                    <highchart id="chart1" config="ctrl.chartConfig"></highchart>
                </td>
                <td>
                    <td><i class="fa fa-chevron-right" style="font-size:24px;color:green" ng-click="ctrl.showNextChart()" data-ng-show="ctrl.cell_id < 20"></i></td>
                </td>
            </tr>
        </table>

    </div>
</div>